.details-box {
  display: flex;
  &-desc {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .plot {
      border: 1px solid #000;
      margin-top: 1rem;
      padding: 2rem;
      text-align: justify;
    }
    .description p {
      margin-bottom: 1rem;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: flex-start;
}
