@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
}
h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

// Item

.movie-item {
  padding: 0 0.5rem;
  display: flex;
  flex-flow: column;
  list-style: none;
  // justify-content: space-between;
  min-height: 50vh;
  padding-bottom: 1rem;
  img {
    width: 100%;
    height: 100%;
  }
  .item-description {
    padding: 0.7rem 0;
  }
  a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #323232;
    border-radius: 50px;
    padding: 1rem 2rem;
    text-align: center;
    &:active {
      color: red;
    }
    &:hover {
      color: yellow;
    }
  }
}

.rate {
  position: relative;
  padding: 1rem 0;
  input {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
}

// Spinner

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 63, 0.24);
  border-radius: 50%;
  border-top-color: darken(#00003f, 50%);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  text-align: center;
  padding: 1rem;
}
